<%- include('partials/header') %>

<style>
  body { background-color: #487eb0;}
</style>



<div class="signup-form">
  <h1>Delete</h1>
  
   

    <button type="submit" class="signup-b">Delete</button>

  

</div>



</div>




<%- include('partials/footer') %>
